<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Services</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <style>
        .service_card {
            background-color: #fff;
            padding: 20px;
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .service_card img {
                width: 100%;
                border-radius: 10px;
            }

        .price_and_image_section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 30px;
        }

        .price_and_image {
            width: 48%;
            margin-bottom: 20px;
        }

            .price_and_image img {
                width: 100%;
                border-radius: 10px;
            }

            .price_and_image .price {
                font-size: 24px;
                font-weight: bold;
                color: #333;
            }

            .price_and_image .service_name {
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
            }

            .price_and_image .price_list {
                font-size: 18px;
                color: #555;
            }

        .price_and_image_odd img {
            order: 2;
        }

        .price_and_image_odd .price {
            order: 1;
            text-align: left;
        }
    </style>
</head>
<body>

   

    <!-- Services Section Start -->
    <div class="services_section layout_padding">
        <div class="container">
            <div class="section_title">
                <h1 class="text-center">------------------------------------------------------HİZMETLERİMİZ-----------------------------------------------------</h1>
               
            </div>
            <div class="row">
                <!-- Service 1 -->
                <div class="col-md-4">
                    <div class="service_card">
                        <img src="images/makyaj4.jpg" class="img-fluid" alt="Haircut">
                        <hr />
                        <h4 class="text-center">MAKYAJ MODELLERİ</h4>
                        <p class="service_description">Experience professional haircuts tailored  have you covered.</p>
                        <div class="text-center">
                            <a href="contact.html" class="btn btn-dark">Bilgi Al</a>
                        </div>
                        
                    </div>
                </div>
                <!-- Service 2 -->
                <div class="col-md-4">
                    <div class="service_card">
                        <img src="images/sac2.jpg" class="img-fluid" alt="Hairstyling">
                        <hr />
                        <h4 class="text-center">SAÇ MODELLERİ</h4>
                        <p class="service_description">Get a stunning new look with our expert hairstyling services. From updos to elegant waves, we create the perfect style for you.</p>
                       
                        <div class="text-center">
                            <a href="contact.html" class="btn btn-dark">Bilgi Al</a>
                        </div>

                    </div>
                </div>
                <!-- Service 3 -->
                <div class="col-md-4">
                    <div class="service_card">
                        <img src="images/tirnak.jpg" class="img-fluid" alt="Makeup">
                        <hr />
                        <h4 class="text-center">TIRNAK MODELLERİ</h4>
                        <p class="service_description">Enhance your beauty with our professional makeup services </p>
                        <div class="text-center">
                            <a href="contact.html" class="btn btn-dark">Bilgi Al</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section End -->


    <hr />

    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/makyaj4.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">

            <div class="container mt-5">
                <h2 class="text-center">Makyaj İşlemleri Fiyat Listesi</h2>
                <br />
                <ul class="price-list">
                    <li class="price-item">
                        <span class="service-name">Günlük Makyaj </span>
                        <span class="price">1850 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Kalıcı Makyaj Microblading</span>
                        <span class="price">3150 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Takma Kirpik</span>
                        <span class="price">500 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">İpek Kirpik</span>
                        <span class="price">1250 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Microblading</span>
                        <span class="price">5000 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">EyeLiner</span>
                        <span class="price">3200 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Kirpik Lifting </span>
                        <span class="price">1250 TL+</span>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="#" class="btn btn-secondary">Randevu Al</a>
                </div>
            </div>
        </div>

    </div>

    <hr />


    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/sac2.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">

            <div class="container mt-5">
                <h2 class="text-center">Saç İşlemleri Fiyat Listesi</h2>
                <br />
                <ul class="price-list">
                    <li class="price-item">
                        <span class="service-name">Fön</span>
                        <span class="price">500 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Brezilya Fön</span>
                        <span class="price">3750 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Kesim</span>
                        <span class="price">1350 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Maşa</span>
                        <span class="price">1050 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Dip Boya</span>
                        <span class="price">1350 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Röfle</span>
                        <span class="price">5000 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Babylights</span>
                        <span class="price">4400 TL+</span>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="#" class="btn btn-secondary">Randevu Al</a>
                </div>
            </div>
        </div>
    </div>


<hr />

    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="images/tirnak.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">

            <div class="container mt-5">
                <h2 class="text-center">Tırnak İşlemleri Fiyat Listesi</h2>
                <br />
                <ul class="price-list">
                    <li class="price-item">
                        <span class="service-name">Manikür</span>
                        <span class="price">400 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Pedikür</span>
                        <span class="price">500 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Nail Art</span>
                        <span class="price">350 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Protez Tırnak El</span>
                        <span class="price">1400 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Protez Tırnak Ayak</span>
                        <span class="price">1500 TL+</span>
                    </li>
                    <li class="price-item">
                        <span class="service-name">Kalıcı Oje</span>
                        <span class="price">400 TL+</span>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="#" class="btn btn-secondary">Randevu Al</a>
                </div>
            </div>
        </div>

    </div>


    <hr />

       
        <!-- Price List Section End -->
        <!-- Footer Section -->
        <div class="footer_section">
            <div class="container">
                <p>&copy; 2024 Our Salon | All Rights Reserved</p>
            </div>
        </div>

        <!-- Javascript files -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "100%";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
</body>
</html>